#act{
    padding: 60px 0;
    text-align: center;
}
#act h3{
    display: block;
    margin: 0 auto 20px auto;
    width: 400px;
    border-bottom: 2px solid #754014;
    padding: 0 0 20px 0;
}
.button-2{
    display: block;
    margin: 0 auto;
    border: 2px solid #754014;
    color: #754014;
    border-radius: 3px;
    width: 180px;
    height: 50px;
    font-size: 23px;
    line-height: 50px;
    border-radius: 30px;
}
.button-2:hover{
    background-color: #754014;
    color: #fff;
}