header{
    height: 120px;
    top: 0;
    position: sticky;
} 
header h1{
    margin-left: 0;
    float: left;
    margin-top: 32px;
    color: ;
    font-weight: bolder;
    font-family: cursive;
    font-style: normal;
    font-size: 47px;
}
header h1 .color{
    color:#b65d14;
}
header nav{
    float: right;
    
}
header nav ul li{
    float: left;
    display: inline-block;
    margin-top: 50px;
}
header nav ul li a {
     color: #444;
     text-transform: uppercase;
     font-weight: bold;
     display: block;
     margin-right: 20px;
     text-decoration: none;
     
}